body{
    background-image: url(https://img.freepik.com/vecteurs-libre/fond-connexion-reseau-degrade_23-2148874050.jpg?t=st=1727100735~exp=1727104335~hmac=2236e1d1a25c910ec5b65217750f687bbc04f8e07a859b2e2519df5aa5cc804c&w=1380);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}