body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

main {
    height: 90vh; /* La carte occupera 90% de la hauteur de l'écran */
    width: 100%;  /* Largeur pleine */
}

#mapid {
    height: 80%; /* La carte s'étend dans le conteneur */
    width: 100%;
}



footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

html, body, #mapid {
    height: 100%; /* La carte occupera tout l'écran en hauteur */
    margin: 0;    /* Supprime les marges */
    padding: 0;   /* Supprime les paddings */
    width: 100%;  /* Pleine largeur */
}


#mapid {
    height: 700px; /* Augmente la hauteur */
    width: 100%;   /* Garde la largeur sur tout l'écran */
}